@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    /* Ini membuat scroll menjadi halus */
}

.animate-in {
    animation: animate-in linear forwards;
    animation-timeline: view();
    animation-range: entry 10%;
}

@keyframes animate-in {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        appearance: none;
        -webkit-appearance: none;
    }
}